<!DOCTYPE html>
<html>
  <head>
    <title>Relackx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('slack_icon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.background = "<%= image_url('landing_bg.svg')%>"
      window.working2 = "<%= image_url('slack_purple2.svg')%>"
      window.messaging = "<%= image_url('messaging.svg') %>"
      window.office = "<%= image_url('office.svg')%>"
      window.user = "<%= image_url('user.svg')%>"
      window.send = "<%= image_url('send2.svg') %>"
      window.cursor = "<%= image_url('x-cursor.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
